/*================================================
Main Banner Area CSS
=================================================*/
.main-banner-area {
  position: relative;
  z-index: 1;
  padding-top: 41px;
}

.main-banner-area::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background:linear-gradient(279.99deg, #1B428A 9%, #00b2d7 50%, #FF9D00 99.95%);
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
}

.main-banner-area .shape-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.main-banner-area .shape-overlay::before {
  left: 0;
  right: 0;
  content: '';
  bottom: 200px;
  height: 485px;
  position: absolute;
  background-image: url(../images/banner-bg.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-banner-area .shape-overlay::after {
  left: 0;
  right: 0;
  content: '';
  bottom: -1px;
  height: 202px;
  position: absolute;
  background-color: var(--whiteColor);
}

.main-banner-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-banner-content .content {
  position: relative;
  max-width: 670px;
  top: 80px;
}

.main-banner-content .sub-title {
  background-color: rgba(255, 255, 255, 0.15);
  color: var(--whiteColor);
  display: inline-block;
  border-radius: 30px;
  margin-bottom: 20px;
  padding: 7px 20px;
}

.main-banner-content h1 {
  color: var(--whiteColor);
  font-size: 48px;
  line-height: 1.4;
}

.main-banner-content .default-btn {
  margin-top: 15px;
  color: var(--blackColor);
  background-color: var(--whiteColor);
}

.main-banner-content .default-btn::before {
  opacity: 0;
  visibility: hidden;
}

.main-banner-content .default-btn:hover {
  color: var(--whiteColor);
  background-color: var(--blackColor);
}

.main-banner-content .trusted-by {
  position: relative;
  top: -80px;
}

.main-banner-content .trusted-by .title {
  display: block;
  letter-spacing: 0.1em;
  font-weight: 600;
}

.main-banner-content .trusted-by .item {
  text-align: center;
}

.main-banner-content .trusted-by .item img {
  display: inline-block !important;
  width: auto !important;
}

.main-banner-image {
  text-align: center;
  -webkit-filter: drop-shadow(25px 50px 70px rgba(42, 50, 61, 0.15));
          filter: drop-shadow(25px 50px 70px rgba(42, 50, 61, 0.15));
}

.banner-shape1 {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
}

.banner-shape1 img {
  -webkit-animation: movebounce 5s linear infinite;
          animation: movebounce 5s linear infinite;
}

.banner-shape2 {
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 20%;
}

.banner-shape2 img {
  -webkit-animation-name: rotateme;
          animation-name: rotateme;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.banner-shape3 {
  position: absolute;
  bottom: 35%;
  z-index: -1;
  left: 55%;
}

.banner-shape3 img {
  -webkit-animation: movebounce 5s linear infinite;
          animation: movebounce 5s linear infinite;
}

.banner-shape4 {
  position: absolute;
  z-index: -1;
  bottom: 50%;
  right: 5%;
}

.banner-shape4 img {
  -webkit-animation: movebounce 5s linear infinite;
          animation: movebounce 5s linear infinite;
}

.banner-shape5 {
  position: absolute;
  bottom: -30px;
  z-index: -1;
  right: 12.5%;
}

.banner-shape5 img {
  -webkit-animation: movebounce 5s linear infinite;
          animation: movebounce 5s linear infinite;
}

/*================================================
App Progress Area CSS
=================================================*/
.app-progress-content {
  padding-left: 15px;
}

.app-progress-content .sub-title {
  display: block;
  margin-bottom: 10px;
  background: var(--gradientColor);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.1em;
  font-weight: 600;
}

.app-progress-content h2 {
  line-height: 1.4;
  font-size: 36px;
  margin-bottom: 15px;
}

.app-progress-content .default-btn {
  margin-top: 10px;
}

.app-progress-image {
  padding-right: 15px;
}

/*================================================
App Download Area CSS
=================================================*/
.app-download-inner {
  padding-left: 100px;
  position: relative;
  z-index: 1;
}

.app-download-inner::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background: linear-gradient(76.92deg, #C89CFF 0%, #FF54B0 52.08%, #FF9F5A 100%);
  z-index: -1;
  margin-top: 50px;
  margin-right: 15px;
  margin-bottom: 30px;
}

.app-download-content {
  padding-right: 15px;
  position: relative;
  top: 10px;
}

.app-download-content .sub-title {
  display: block;
  margin-bottom: 10px;
  color: var(--whiteColor);
  letter-spacing: 0.1em;
  font-weight: 600;
}

.app-download-content h2 {
  font-size: 36px;
  line-height: 1.4;
  margin-bottom: 15px;
  color: var(--whiteColor);
}

.app-download-content p {
  color: var(--whiteColor);
}

.app-download-content .btn-box {
  margin-top: 30px;
}

.app-download-content .btn-box .playstore-btn {
  position: relative;
  border-radius: 5px;
  margin-right: 15px;
  display: inline-block;
  color: var(--paragraphColor);
  background-color: var(--whiteColor);
  -webkit-box-shadow: 0 7px 18px 0 rgba(107, 124, 147, 0.15);
          box-shadow: 0 7px 18px 0 rgba(107, 124, 147, 0.15);
  font-size: 14px;
  font-weight: 500;
  padding-top: 12px;
  padding-left: 60px;
  padding-right: 25px;
  padding-bottom: 12px;
}

.app-download-content .btn-box .playstore-btn span {
  display: block;
  margin-top: 2px;
  color: var(--blackColor);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 17px;
  font-weight: 700;
}

.app-download-content .btn-box .playstore-btn img {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  left: 20px;
  top: 50%;
}

.app-download-content .btn-box .playstore-btn:hover {
  background-color: var(--blackColor);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  color: var(--whiteColor);
}

.app-download-content .btn-box .playstore-btn:hover span {
  color: var(--whiteColor);
}

.app-download-content .btn-box .applestore-btn {
  position: relative;
  border-radius: 5px;
  display: inline-block;
  color: var(--paragraphColor);
  background-color: var(--whiteColor);
  -webkit-box-shadow: 0 7px 18px 0 rgba(107, 124, 147, 0.15);
          box-shadow: 0 7px 18px 0 rgba(107, 124, 147, 0.15);
  font-size: 14px;
  font-weight: 500;
  padding-top: 12px;
  padding-left: 65px;
  padding-right: 25px;
  padding-bottom: 12px;
}

.app-download-content .btn-box .applestore-btn span {
  display: block;
  margin-top: 2px;
  color: var(--blackColor);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 17px;
  font-weight: 700;
}

.app-download-content .btn-box .applestore-btn img {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  left: 20px;
  top: 50%;
}

.app-download-content .btn-box .applestore-btn:hover {
  background-color: var(--blackColor);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  color: var(--whiteColor);
}

.app-download-content .btn-box .applestore-btn:hover span {
  color: var(--whiteColor);
}

.app-download-image {
  text-align: center;
  padding-left: 15px;
}


.single-feedback-box {
  -webkit-transition: var(--transition);
  transition: var(--transition);
  background: #F4F8FC;
  margin-bottom: 25px;
  padding: 30px;
}

.single-feedback-box .client-info {
  margin-bottom:12px;
}

.single-feedback-box .client-info img {
  height: 60px;
  border-radius: 50%;
  width: 60px !important;
}

.ri-star-fill{color:#FFCA40;}

.single-feedback-box .client-info .title h3 {
  font-size: 18px;
  margin-bottom: 7px;
}

.single-feedback-box .client-info .title span {
  display: block;
  font-size: 14px;
  color: var(--mainColor);
}

.single-feedback-box p {
  font-size: 16px;
}



.single-feedback-box .rating h5 {
  margin-bottom: 0;
  font-size: 16px;
}

.single-feedback-box .rating div i {
  line-height: 1;
  color: #FFCA40;
}

.single-feedback-box:hover {
  background-color: var(--whiteColor);
  -webkit-box-shadow: 5px 15px 20px rgba(38, 42, 55, 0.05);
          box-shadow: 5px 15px 20px rgba(38, 42, 55, 0.05);
}

.owl-item.active.center .single-feedback-box {
  background-color: var(--whiteColor);
  -webkit-box-shadow: 5px 15px 20px rgba(38, 42, 55, 0.05);
          box-shadow: 5px 15px 20px rgba(38, 42, 55, 0.05);
}

.feedback-slides.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 20px;
}

.feedback-slides.owl-theme .owl-dots .owl-dot span {
  width: 15px;
  height: 15px;
  margin: 0 4px;
  border-radius: 50%;
  position: relative;
  background-color: transparent;
}

.feedback-slides.owl-theme .owl-dots .owl-dot span::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  opacity: 0.1;
  position: absolute;
  border-radius: 50%;
  background-color: #0064FB;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.feedback-slides.owl-theme .owl-dots .owl-dot span::after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  content: '';
  position: absolute;
  border-radius: 50%;
  visibility: hidden;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
  background: linear-gradient(279.99deg, #9F5FF1 -1.19%, #FF54B0 50.99%, #FF9F5A 100%);
}

.feedback-slides.owl-theme .owl-dots .owl-dot:hover span::before, .feedback-slides.owl-theme .owl-dots .owl-dot.active span::before {
  opacity: 0;
  visibility: hidden;
}

.feedback-slides.owl-theme .owl-dots .owl-dot:hover span::after, .feedback-slides.owl-theme .owl-dots .owl-dot.active span::after {
  opacity: 1;
  visibility: visible;
}


/* Max width 767px */
@media only screen and (max-width: 767px) {
  .main-banner-area {
    padding-top: 140px;
  }
  .main-banner-content {
    height: auto;
    display: block;
    text-align: center;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .main-banner-content .content {
    max-width: 100%;
    top: 0;
  }
  .main-banner-content .sub-title {
    margin-bottom: 15px;
    padding: 5px 15px;
  }
  .main-banner-content h1 {
    font-size: 24px;
  }
  .main-banner-content .default-btn {
    margin-top: 10px;
  }
  .main-banner-content .trusted-by {
    top: 0;
    padding: 15px;
    margin-top: 30px;
    border-radius: 3px;
    background-color: var(--whiteColor);
  }
  .main-banner-content .trusted-by .title {
    margin-bottom: 15px;
  }
  .main-banner-image {
    margin-top: 35px;
    -webkit-filter: unset;
            filter: unset;
  }
  .banner-shape2, .banner-shape4, .banner-shape3 {
    display: none;
  }
  .banner-shape5 {
    text-align: center;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
  }
  
}






/* Min width 1550px */
@media only screen and (min-width: 1550px) {
  .banner-shape3 {
    bottom: 33%;
    left: 55%;
  }
  .banner-shape4 {
    bottom: 50%;
    right: 14%;
  }
  .banner-shape5 {
    right: 15%;
  }
}
/*# sourceMappingURL=home-one.css.map */

/* .bannerPosition{position:absolute; top:0px;} */
.main-banner-area{  
  background:   linear-gradient(279.99deg, #FF9D00 9%, #00b2d7 50%, #1B428A 99.95%) !important;}

  /* linear-gradient(279.99deg, #FF9D00 9%, #00b2d7 50%, #1B428A 99.95%) */
  .bannerPosition{    padding-top: 70px;}

  .main-banner-area::before{display:none;}
.main-banner-area .shape-overlay::after{display:none;}

.main-banner-area::after{left: 0;
  right: 0;
  content: '';
  bottom: -34px;
    height: 327px;
  position: absolute;
  background-image: url(../images/banner-bg.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;}

  .main-banner-content{width: 50%; display: inline-block;}
.main-banner-image{position: absolute; z-index: 2; right: 0px;top: 20%;}
.main-banner-image img{float: right;  width:84%;  margin-right: 8%;   border-radius: 14px; }
.banner-shape3{bottom: 26%; left: 34%;}
.banner-shape4{bottom: 62%;right:0%;}
.banner-shape2{    top: 16%;}
.main-banner-content h1 { color: #fff;}
.main-banner-content h3 { color: #ddf8ff;}
.pakap-nav .navbar .navbar-nav{margin-right: 20px;}
.navbar .default-btn{    padding: 12px 20px;}


/*-- Gallery --*/
.portfolio-section {margin-top:60px;padding:60px 0px 100px 0px; 
      background-color:#eef5fc;
   
    }
.portfolio-section .mixitup-gallery{padding-top:0px;}

.portfolio-section .sec-title{
  z-index: 1;
  margin-bottom: 50px;
}

.portfolio-section .btns-outer {
  position: relative;
  margin-top: -130px;
  top: -40px;
  text-align: right;
}

.portfolio-section .btns-outer .theme-btn{
  position: relative;
  margin-bottom: 35px;
}




.portfolio-block{
  position: relative;
  margin-bottom: 30px;
}

.portfolio-block .image-box{
  position: relative;
  overflow: hidden;
}

.portfolio-block .image-box .image{
  margin-bottom: 0;
}

.portfolio-block .image-box .image img{
  display: block;
  width: 100%;
  transition: all 200ms ease;
}

.portfolio-block .image-box:hover .image img{
  transform: scale(1.2);
}

.portfolio-block .overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.portfolio-block .overlay .icon-box{
  position: relative;
  height: 50px;
  width: 50px;
  background-color:#1c2666;
  color: #ffffff;
  font-size: 20px;
  line-height: 50px;
  border-radius: 50%;
  opacity: 0;
  text-align: center;
  transform: translateY(-25px) scale(0);
  transition: all 200ms ease;
}

.portfolio-block .image-box:hover .overlay .icon-box{
  opacity: 1;
  transform: translateY(-25px) scale(1);
}

.portfolio-block .image-box .image img{object-fit: cover; height: 250px;}


/*-- Gallery --*/




.nearbyPlacesWrapp p{line-height:25px; font-size: 14px;}
.nearbyPlacesWrapp .s2-feature_list{width:100%;
  box-shadow: 0px 3px 43px 0px rgba(0, 0, 0, 0.13);
} 



/*---------------------------------------------------- */
/*Feature area*/
/*----------------------------------------------------*/
.saas_two_feature_section {
  padding:70px 0px 70px;
}

.saas_two_feature_section .s2-feature_text {
  max-width: 520px;
  padding: 40px 0 0 50px;
}

.saas_two_feature_section .s2-feature_text h2 {
  font-size: 40px;
  line-height: 1.25;
  padding: 15px 0px 15px;
}

.saas_two_feature_section .s2-feature_text p {
  padding-bottom: 43px;
}

.saas_two_feature_section .s2-feature_text .saas_btn a {
  padding: 10px 25px 10px 25px;
}

.saas_two_feature_section .s2-feature_text .saas_btn a i {
  font-size: 20px;
  margin-right: 5px;
}

.saas_two_feature_section .s2-feature_right {
  padding-left: 35px;
}

.saas_two_feature_section .s2-feature_right .s2-feature_list {
  margin-bottom: 10px;
  padding:10px 32px 10px;
  border-radius: 10px;
  display: inline-block;
  transition: 0.4s all ease-in-out;
  position: relative;
}

.saas_two_feature_section .s2-feature_right .s2-feature_list:before {
  position: absolute;
  content: "";
  height: 0px;
  width: 5px;
  left: 0;
  top: 50%;
  border-radius: 50px;
  transform: translateY(-50%);
  transition: 0.3s all ease-in-out;
}

.saas_two_feature_section .s2-feature_right .s2-feature_list:hover:before {
  height: 60px;
}

.saas_two_feature_section .s2-feature_right .s2-feature_list .s2-feature_icon {
  width:70px;
  float: left;
  height: 70px;
  border-radius: 100%;
  line-height: 70px;
  margin-right: 30px;
}

.s2-feature_icon img{
  width:35px;
}



.saas_two_feature_section .s2-feature_right .s2-feature_list .s2-feature_icon i {
  font-size: 30px;
}

.saas_two_feature_section .s2-feature_right .s2-feature_list .s2-feature_text_box {
  max-width: 310px;
  display: inline-block;
}

.saas_two_feature_section .s2-feature_right .s2-feature_list .s2-feature_text_box h3 {
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  padding-top:25px;
}

.saas_two_feature_section .s2-feature_right .s2-feature_list:hover {
  margin-left:15px;
  box-shadow: 0px 3px 43px 0px rgba(0, 0, 0, 0.13);
}

.saas_two_feature_section .s2-feature_right .s2-feature_list:nth-child(1) .s2-feature_icon {
  background-color:#fff;
}


.saas_two_feature_section .s2-feature_right .s2-feature_list:nth-child(2) .s2-feature_icon {
  background-color: #e1e1f5;
}

.main-banner-area.homeBanner{height:600px;}
